doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title= title
        meta(name='apple-mobile-web-app-title', content='Karma Webapp')
        link(rel='shortcut icon', href='/resources/images/favicons/favicon.ico')
        link(rel='stylesheet', href='/resources/bootstrap/core/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/resources/bootstrap/select2/select2.css')
        link(rel='stylesheet', href='/resources/bootstrap/timepicker/css/bootstrap-timepicker.min.css')
        link(rel='stylesheet', href='/resources/fontawesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/resources/css/bootstrap-custom.css')
        link(rel='stylesheet', href='/resources/css/bootstrap-extended.css')
        link(rel='stylesheet', href='/resources/css/animate.min.css')
        link(rel='stylesheet', href='/resources/css/helpers.css')
        link(rel='stylesheet', href='/resources/css/base.min.css')
        link(rel='stylesheet', href='/resources/css/light-theme.css')
        link(rel='stylesheet', href='/resources/css/mediaqueries.css')
        // // Helpers //
        script(src='/resources/js/plugins/modernizr.min.js')
        script(src='/resources/js/plugins/mobiledevices.js')
        // // jQuery core //
        script(src='/resources/js/libs/jquery-1.11.0.min.js')
        script(src='/resources/js/libs/jquery-ui-1.10.4.min.js')
        // // Bootstrap //
        script(src='/resources/bootstrap/core/dist/js/bootstrap.min.js')
        script(src='/resources/bootstrap/select2/select2.min.js')
        script(src='/resources/bootstrap/bootboxjs/bootboxjs.min.js')
        script(src='/resources/bootstrap/holder/holder.min.js')
        script(src='/resources/bootstrap/typeahead/typeahead.min.js')
        script(src='/resources/bootstrap/datepicker/js/bootstrap-datepicker.min.js')
        script(src='/resources/bootstrap/fileupload/bootstrap-fileupload.min.js')
        script(src='/resources/bootstrap/inputmask/bootstrap-inputmask.min.js')
        script(src='/resources/bootstrap/colorpicker/js/bootstrap-colorpicker.min.js')
        script(src='/resources/bootstrap/timepicker/js/bootstrap-timepicker.min.js')
        // // Custom/premium plugins //
        script(src='/resources/js/plugins/responsivetables.1.0.min.js')
        script(src='/resources/js/plugins/responsivehelper.1.0.min.js')
        script(src='/resources/js/plugins/mainmenu.1.0.min.js')
        script(src='/resources/js/plugins/easyfiletree.1.0.min.js')
        script(src='/resources/js/plugins/autosaveforms.1.0.min.js')
        script(src='/resources/js/plugins/chainedinputs.1.0.min.js')
        script(src='/resources/js/plugins/checkboxtoggle.1.0.min.js')
        script(src='/resources/js/plugins/bootstraptabsextend.1.0.min.js')
        script(src='/resources/js/plugins/lockscreen.1.0.min.js')
        script(src='/resources/js/plugins/autoexpand.1.0.min.js')
        script(src='/resources/js/plugins/notify.1.0.min.js')
        script(src='/resources/js/plugins/nanogress.1.0.min.js')
        script(src='/resources/js/plugins/powerwizard.1.0.min.js')
        script(src='/resources/js/plugins/simpleselect.1.0.min.js')
        script(src='/resources/js/plugins/tinycontextmenu.1.0.min.js')
        // // Third-party plugins //
        script(src='/resources/js/plugins/tinyscrollbar.min.js')
        script(src='/resources/js/plugins/jquery.knob.js')
        script(src='/resources/js/plugins/prism.min.js')
        script(src='/resources/js/plugins/h5f.min.js')
        script(src='/resources/js/plugins/gmap3.min.js')
        script(src='/resources/js/plugins/jquery.tablesorter.min.js')
        script(src='/resources/js/plugins/jquery.tablesorter.widgets.min.js')
        script(src='/resources/js/plugins/jquery.tablesorter.pager.min.js')
        script(src='/resources/js/plugins/fullcalendar.min.js')
        script(src='/resources/ckeditor/ckeditor.js')
        script(src='/resources/js/plugins/hogan-2.0.0.js')
        script(src='/resources/js/plugins/jquery.nouislider.min.js')
        script(src='/resources/js/plugins/jquery.autosize-min.js')
        script(src='/resources/js/plugins/jquery.magnific-popup.min.js')
        script(src='/resources/js/plugins/jquery.pwstrength.min.js')
        script(src='/resources/js/plugins/jquery.mixitup.min.js')
        script(src='/resources/js/plugins/jquery.vticker.min.js')
        script(src='/resources/js/flot/jquery.flot.min.js')
        script(src='/resources/js/flot/jquery.flot.resize.min.js')
        script(src='/resources/js/flot/excanvas.min.js')
        script(src='/resources/js/plugins/layout.min.js')
        script(src='/resources/js/plugins/masonry.pkgd.min.js')
        script(src='/resources/js/plugins/json2.js')
        // // Custom //
        script(src='/resources/js/plugins/theme-demo.min.js')
        script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCVOEFz1FsL4mYFydE3rZbZ9HOp7TO0xYI&callback=initMap')
        script(src='/resources/js/jquery.js')
        script(type='text/javascript').
            var map;
            var marker, i;
            var markers = [];
            $(document).ready(function(){
                setInterval(function() {
                    //marker.setVisible(false);
                    console.log("removed marker....");
                    $.ajax({
                        url:"getMapData",
                        type:"GET",
                        success:function(data){
                            data = data.split(",");
                            console.log("Coordinates recieved: "+data);
                            var latLng = new google.maps.LatLng(data[0], data[1]);
                            marker.setPosition(latLng);
                            console.log("added marker....");
                        }
                    });
                }, 10000);
            });
            function initMap() {
                var myLatLng = {lat: 17.45434811, lng:78.3986823};
                map = new google.maps.Map(document.getElementById('map-canvas'), {
                    zoom: 12,
                    panControl:true,
                    zoomControl:true,
                    mapTypeControl:true,
                    scaleControl:true,
                    streetViewControl:true,
                    overviewMapControl:true,
                    rotateControl:true,
                    center: myLatLng
                });
                marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'Hello World!'
                });
            }
    body.hide-right-sidebar.lockscreen-ready(cls='="lockscreen-ready', hide-right-sidebar='')
        #container.clearfix
            //
              ********************************************
              * SIDEBAR MAIN:                            *
              *                                          *
              * the part which contains the main         *
              * navigation, logo, search and more...     *
              * (parts can be in both sidebars).         *
              ********************************************
            aside#sidebar-main.sidebar
                // **********
                // NEW MODULE
                // **********
                .sidebar-module
                    .sidebar-profile
                        img.avatar(src='/resources/images/users/user-icon.png', alt='')
                        span.indicator-dot 2
                        ul.sidebar-profile-list
                            li
                                h3 Hi, Admin
                            li
                                a(href='#') Profile

                                a(href='#') Mail

                                a(href='#') Logout
                    // End .sidebar-profile
                // End .sidebar-module
                .sidebar-line
                    // A seperator line
                // * Tabs can be removed, if so dont forget *
                // * to remove the .tab-pane divs(wrapper). *
                ul.ext-tabs-sidebar
                    li.active
                        a(href='#sidebar-tab-1')
                            i.fa.fa-bars
                            |  Navigation
                    li
                        a(href='#sidebar-tab-2')
                            i.fa.fa-calendar-o
                            |                 Events
                // End .ext-tabs-sidebar
                .tab-content
                    #sidebar-tab-1.tab-pane.active.clearfix
                        // **********
                        // NEW MODULE
                        // **********
                        .sidebar-module
                            nav.sidebar-nav-v2
                                ul
                                    li.page-arrow.active-page
                                        a(href='index.html')
                                            i.fa.fa-dashboard
                                            |  Dashboard
                                    li.seperator
                                        // * seperator line *
                                    li
                                        a(href='media.html')
                                            i.fa.fa-picture-o
                                            |                                 Media
                            // End .sidebar-nav-v1
                        // End .sidebar-module
                    #sidebar-tab-2.tab-pane.clearfix
                        // **********
                        // NEW MODULE
                        // **********
                        .sidebar-module
                            .calendar-events
                                h4 Draggable Events
                                .single-cal-event My Event 10
                                .single-cal-event My Event 12
                                .single-cal-event My Event 13
                                .single-cal-event My Event 14
                                .single-cal-event My Event 15
                                .single-cal-event My Event 16
                                label
                                    input.drop-remove(type='checkbox')
                                    span
                                    |                             Remove after drop
                            .spacer-40
                            .calendar-events
                                h4 Draggable Events
                                .single-cal-event My Event 17
                                .single-cal-event My Event 18
                                .single-cal-event My Event 19
                                label
                                    input.drop-remove(type='checkbox')
                                    span
                                    |                             Remove after drop
                        // End .sidebar-module
                //
                  </div><!-- End .tab-content
            // End aside
            //
              ********************************************
              * SIDEBAR SEC:                             *
              *                                          *
              * the part which contains things like      *
              * calendar, users, lists, blocks and       *
              * much more.                               *
              ********************************************
            #main.clearfix
                //
                  ********************************************
                  * MAIN HEADER:                             *
                  *                                          *
                  * the part which contains the breadcrumbs, *
                  * dropdown menus, toggle sidebar button    *
                  ********************************************
                #content.clearfix
                    //
                      ********************************************
                      * HEADER SEC:                              *
                      *                                          *
                      * the part which contains the page title,  *
                      * buttons and dropdowns.                   *
                      ********************************************
                    header#header-sec
                        .inner-padding
                            .pull-left
                                h2 Admin Panel
                            .pull-right
                                .btn-group
                                    a#modal-update-trigger.btn.btn-default(href='#')
                                        | Modal
                                    a.btn.btn-default(href='#')
                                        i.fa.fa-cog
                        // End .inner-padding
                    // End #header-sec
                    //
                      ********************************************
                      * WINDOW:                                  *
                      *                                          *
                      * the part which contains the main content *
                      ********************************************
                    .window
                        .actionbar
                            .pull-left
                                a#lockscreen-slider-trigger.btn(href='#')
                                    i.fa.fa-lock
                                    |   Lock screen
                        #map-canvas.gmnoprint.img(style='width: 900px; height: 480px;left:50px;top:20px;')
                    // End .window
                    footer#footer-main.footer-sticky
                    // End #footer-main
                // End #content
            // End #main
        // End #container
        // Modal
        #modal-update.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4.modal-title Update 13.2.1 available
                    .modal-body
                        .row(style='margin-bottom: -20px')
                            .col-xs-3
                                i.fa.fa-download(style='font-size: 120px; color: #ccc')
                            .col-xs-9
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    | Suspendisse laoreet molestie justo at pulvinar. In hac habitasse
                                    | platea dictumst. Proin accumsan, tellus quis varius molestie, mi
                                    | dolor facilisis risus, quis tristique neque augue eget nunc.
                                    | Curabitur turpis sapien, lacinia in lacinia nec,
                                .spacer-20
                                h4 Whats new in version 13.2.1
                                .spacer-20
                                ul
                                    li Suspendisse laoreet molestie justo at pulvinar.
                                    li
                                        | Proin accumsan, tellus quis varius molestie, mi dolor
                                        | facilisis risus.
                                    li
                                        | In hac habitasse platea dictumst. Proin accumsan,
                                        | tellus quis varius molestie dolum ipkut. Curabitur turpis
                                        | sapien lorem.
                                    li Curabitur turpis sapien, lacinia in lacinia necr.
                                    li
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing
                                        | elit. Suspendisse laoreet molestie justo.
                    .modal-footer
                        button.btn.btn-default(data-dismiss='modal') Close
                        button.btn.btn-primary.pull-right Get it now
        // Lockscreen
        #lockscreen-slider.lockscreen
            .lockscreen-overlay
            .lockscreen-modal
                img.lockscreen-avatar(src='images/users/user-1.jpg', alt='')
                .lockscreen-placeholder
